html,body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

nav {
    height: 100px;
    width: 100%;
    background: #6753d6;
}

nav h1 {
    color: #fff;
    font-weight: 500;
    font-size: 35px;
    float: left;
    margin: 25px 50px;
}

nav .CartArea {
    display: flex;
    float: right;
    justify-content: space-evenly;
    align-items: center;
    width: 15%;
    background: #f4f4f4;
    color: #333;
    border-radius: 10px;
    padding: auto 20px;
    margin-right: 50px;
    margin-top: 13px;
}

nav .CartArea img {
    width: 50px;
    height: 50px;
}

nav h2 {
   text-align: center;
}

nav span {
    font-weight: 400;
    background: rgb(111, 21, 228);
    padding: 10px 15px;
    color: #fff;
    border-radius: 50%;
}

@media only screen and (max-width: 600px) {
    nav {
        display: flex;
    }
    
    nav h1 {
        float: none;
        text-align: center;
    }
}